<!DOCTYPE html>
<html>

<head>
    <title>Hello World</title>
    <link href="static/test.css" rel="stylesheet" />
</head>

<body>
    <h1 class="centered" id="title">Hello, World!</h1>

    <p>This is a paragraph of text.</p>
    <p>Paragraphs can contain <b>bold</b> and <i>italic</i> text as well.</p>

    <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Purdue_Boilermakers_logo.svg" />

    <h2>My Favorite Bands</h2>
    <ol>
        <li>The 1975</li>
        <li>Saint Motel</li>
        <li>COIN</li>
    </ol>

    <h2>My Favorite Sites</h2>
    <ul>
        <li><a href="https://www.cs.purdue.edu/">Purdue CS</a></li>
        <li><a href="https://www.csail.mit.edu/">MIT CSAIL</a></li>
    </ul>

    <h2>Programming</h2>
    <p>I can include <code>code</code> in my paragraphs!</p>

    <pre>
    <code>
public class Hello {
    public static void main(String[] args) {
        System.out.println("Hello, World!");
    }
}
    </code>
    </pre>

    <h3 class="centered">About Me</h3>
    <p class="centered">I'm a computer science student at Purdue!</p>
</body>

</html>
